admin-style.css

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.admin-container {
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel-container {
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #12192C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #4CAF50;
    color: white;
}

button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #45a049;
}

.form-container {
    margin-top: 20px;
    
}

/* admin.css */

#kayit {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 20px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.kayit_tablo{
    display: flex;
    justify-content: space-between; /* Adjust the spacing as needed */
    align-items: center;
    flex-direction: column;
    width: 150%;
    
    

}
.form-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-section h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#user-form {
    display: none;
}
/* admin.css */

